* {
    box-sizing: border-box;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=text]{
    width: 80%;
    border: 2px solid rgb(73, 214, 233);
    padding: 6px 10px;
    margin: 5px 0;
    border-radius: 4px;
}

input[type=text]:focus{
    background-color: rgb(73, 214, 233);
}

textarea:focus{
    background-color: rgb(73, 214, 233);
}

textarea{
    width: 80%;
    padding: 10px 15px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 2px solid rgb(73, 214, 233);
    border-radius: 4px;
}

input[type=submit]{
    width: 100%;
    padding: 5px 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 2px solid rgb(73, 214, 233);
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

input[type=submit]:hover {
    background-color: rgb(73, 214, 233);
}

.container {
    border-radius: 5px;
    background-color: black;
    padding: 20px;
}

.uku-10{
    float: left;
    width: 20%;
    margin-top: 6px;
    font-weight: bold;
}

.uku-90 {
    float: right;
    width: 80%;
    margin-top: 6px;
}

.baris:after {
    content: "";
    display: table;
    clear: both;
}

/* Catatan untuk diingat */
/* ini untuk ukuran layar 600px kebawah */

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit]{
        width: 100%;
        margin-top: 0;
    }
}